<div *ngIf="(vm$ | async) as vm;else loadingTemp">
  <div class="name">
    <img [src]="vm.crestUrl" width="40">
    <h3>{{vm.name}}</h3>
  </div>
  <div class="coach">
    Coach: {{vm.coach?.name}}
  </div>
  <div class="squad">
    <h3>Squad</h3>
  </div>

    <data-table #table [data]="vm.players">
      <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th></th>
      </thead>
      <tbody>

      <tr *ngFor="let row of table.data">
        <td><a [routerLink]="['..','player',row.id]">{{row.name}}</a></td>
        <td>{{row.position}}</td>
        <td><i class="fa fa-heart"></i></td>
      </tr>
      </tbody>
    </data-table>
</div>
<ng-template #loadingTemp>Loading...</ng-template>
