.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next, .previous {
  font-size: 30px;
  margin: 0 30px;
}

.action {
  text-align: center;

  button {
    padding: 10px;
    margin: 10px;

  }
}
